{#
/**
 * @file
 * Default theme implementation for an inline help tip.
 *
 * Available variables:
 * - tip: The text to appear when user claims for help.
 *
 * @see template_preprocess_help_tip()
 *
 * @ingroup themeable
 */
#}
<abbr title="{{ tip }}"><i class="help-tip-question">help</i></abbr>
